
<footer class="footer">
  <a href="http://vk.com/autoservice69"><%=image_tag("vk.png", size: "30x30", alt: "vk")%></a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="http://www.sergeyfetisov.ru"><%= image_tag("powered.png", size: "230x160", alt: "powered") %></a>
  	&nbsp&nbsp
        copyright<%= image_tag("copyright.png", size: "25x25", alt: "copyright") %>2015
</footer>
