<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo.png", size: "240x100", alt: "AutoService69"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li style="font-family:'avante';font-size:1.6em"><%= link_to "Услуги", about_path %></li>
	        <li style="font-family:'avante';font-size:1.6em"><%= link_to "Контакты", contacts_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
